
@using MTG.Data.Models

@model MTG.Models.DecksModel

@{
    ViewBag.Title = "Decks";
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h2>Decks</h2>
    </div>
    <div class="panel-body" id="results">
        <table class="table table-hover">
            <tr>
                <th>Name</th>
            </tr>
            @foreach (var deck in Model.Decks)
            {
                <tr>
                    <td>@Html.ActionLink(deck.DeckName, "EditDeck", "Decks", new { id = deck.DeckId }, null)</td>
                </tr>
            }
        </table>
    </div>
</div>



